@import "tailwindcss";

@theme {
  --font-sans: 'Work Sans', sans-serif;
  --font-logo: 'Montserrat', sans-serif;
}

@utility hide-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}